@model IEnumerable<Database_reader_V2.Models.Report>

<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Scripts/Datepicker.js"></script>
<link rel="stylesheet" href="~/Scripts/jquery-ui.css" />


<!-- css relativo alla tabella -->
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>



<style>
    #Search {
        text-align: center;
    }

    #bloc1, #bloc2 {
        display: inline;
        vertical-align: middle;
    }

    #filter {
        display: inline-block;
    }
</style>

<!--filtri fatti con altro meotodo-->
<center>
    @using (Html.BeginForm("Index", "Report", FormMethod.Get))
    {
        <a>Filters:</a>
        @Html.RadioButton("search_radio", "all")<span>All</span>
        @Html.RadioButton("search_radio", "last_week")<span>Last week</span>
        @Html.RadioButton("search_radio", "date_selection")<span>Date Selection</span>
        <br />
        <span>Search by name</span>@Html.TextBox("searchString")
        <span>From</span> @Html.TextBox("from_date")
        <span>To</span> @Html.TextBox("to_date")
        <script>
            $(function () {
                $("#from_date").datepicker();
                $("#to_date").datepicker();
            });
        </script>
        <input type="submit" value="Search" />


        <table class="table">

            <tr>
                <th>
                    Select
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rep_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rep_Lot_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rep_PDFStatus)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Rep_PDFCreated)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Rep_Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rep_Type)
                </th>

            </tr>


            @{int i = 1; } <!--contatore per id-->
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.CheckBox("pdf_check", false)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rep_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rep_Lot_Id, new { id = "RepId" + i }) <!--forzo creazione di un id-->
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rep_PDFStatus)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Rep_PDFCreated)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Rep_Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rep_Type)
                    </td>

                </tr>
                i += 1;

            }

        </table>
    }
</center>
<!--<label id="prova">Prova: </label> label di prova per visualizzare se ottengo il rep id -->

<script>
    function OpenPdf() {

        var checkedCheckbox = $("pdf_check:checked"); // considero la checkbox spuntata
        var repLotId = $(checkedCheckbox).parent().next().next().html(); // uso la funzione travel per adare agli elementi vicino e trovare il valore di lot id

        //var  repLotId = $.trim($("#RepId2").html()) funzione di prova per ottenere il valore dall pagina
        document.getElementById('prova').innerHTML = repLotId; //riga di prova per vedere il valore di repLotId in una label, il problema è che è undefined

        //var pdf_link= variabile del rep lot id +".pdf";
        //window.open(pdf_link, '_blank') //apro il pdf in pagina vuota per prova
        //localStorage.setItem("Pdf_link", pdf_link); //salvo variabile per usarla nell'altra pagina
    }
</script>
<br>

<!-- parte relativa alla visone del pdf tramite un iframe-->

<div>
    <iframe src="~/Pdf/Pdf_view.html" height="700" width="800" style="position:absolute; left :300px"></iframe>
</div>


<!-- parte relativa ai due pulsanti da abilitare, poi bisogna creare le loro relative funzioni-->
<button type="button" onclick="location.href='/Login/Login.html' "id="validate" style="position: absolute; left:1250px; top:500px; height:20px;"> Validate </button>
<button type="button" id="review" style="position: absolute; left:1250px; top:530px; height:20px;"> Review</button>
<label id="is" style="position: absolute; left:1250px; top:560px; height:20px;">Is enabled?</label>

<script>
    document.getElementById("validate").disabled = true;
    document.getElementById("review").disabled = true;
</script>


<button type="button" id="ck" onclick="check()" style=" position: absolute; left:1250px; top:590px; height:20px;"> Check</button>


<script>
    if (end) {
        document.getElementById("validate").disabled = false;
        document.getElementById("review").disabled = false;
    }
</script>

<button type="button" id="ad" onclick="btnLogin_Click" style=" position: absolute; left:1250px; top:650px; height:20px;"> Test AD</button>

