@model IEnumerable<Database_reader_V2.Models.Report>

@*<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>*@



<!-- css relativo alla tabella -->
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<!-- css relativo alla textbox -->
<style>
    input[type=text] {
        position: fixed;
        width: 150px;
        border: 2px solid #aaa;
        border-radius: 4px;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: .3s;
        left: 500px;
        top: 5px;
    }

        input[type=text]:focus {
            border-color: dodgerBlue;
            box-shadow: 0 0 8px 0 dodgerBlue;
        }
</style>

<style>
    #Search {
        text-align: center;
    }

    #bloc1, #bloc2 {
        display: inline;
        vertical-align: middle;
    }
</style>

<div id="Search">
    <div id="bloc1">
        <label for="Id_filter" style="position: absolute; left: 400px;">Lot Id Filter:</label>
    </div>

    <div id="bloc1"> <input type="text" id="Id_filter" name="Id_filter"></div>


</div>
<button type="button" id="search" style="position: absolute; left:650px; top:5px; height:20px;"> Search</button>
<!-- filtri -->
<label for="Time_filter" style="position: absolute; left: 20px; top:10px">Time Filter</label><br>
<input type="radio" name="color" value="all"> All <br>
<input type="radio" name="color" value="last week"> Last week <br>
<input type="radio" name="color" value="date Seletion">Date Seletion <br>
<table class="table">
    <tr>
        <th>
            Select
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_Lot_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_PDFToCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_PDFCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" name="pdf" value="">
                <script>
                    var link = '"' + item.Rep_Lot_Id + ".pdf" + '"'; //creo il percorso del pdf come "nome_file.pdf" PARTE DA METTERE A POSTO
                </script>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_Lot_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_PDFToCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_PDFCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_Type)
            </td>

        </tr>

    }

</table>


<script>
    function OpenPdf() {
        //cerco tutte le checkbox e ottengo il link da quella che trovo spuntata
        var cbox = document.getElementsByName("pdf");
        for (var i = 0; i < cbox.length; i++)
            if (cbox[i].type == "checkbox")
                if (cbox[i].checked) {
                    var pdf_link = cbox[i].value;
                    break
                }



        window.open(pdf_link, '_blank') //apro il pdf
    }
</script>
<!-- pulsante pdf-->
<button onclick="OpenPdf()" type="button" id="submit">

    report pdf
</button>

<!-- parte relativa alla visone del pdf tramite un iframe-->
@*<br>
    <div>
        <iframe src="~/Pdf/Pdf_view.html" height="700" width="500" style="position:absolute; left :300px"></iframe>

        <button class="btn" id="prev-page">
            <i class="fas fa-arrow-circle-left"></i> Prev Page
        </button>
        <button class="btn" id="next-page">
            Next Page <i class="fas fa-arrow-circle-right"></i>
        </button>
    </div>*@
<style>
    #the-canvas {
        border: 1px solid black;
        direction: ltr;
    }
</style>

<script src="~/Pdf/Js/pdf.js"></script>
@*<script src="~/Pdf/Js/main.js"></script>*@
<script src="~/Pdf/Js/NavEx.js"></script>
<h1>PDF.js Previous/Next example</h1>

<div>
    <button id="prev">Previous</button>
    <button id="next">Next</button>
    &nbsp; &nbsp;
    <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
</div>

<canvas id="the-canvas"></canvas>
















