@model IEnumerable<Database_reader_V2.Models.Report>

<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<!-- css relativo alla tabella -->
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<!-- css relativo alla textbox -->
<style>
    input[type=text] {
        position: absolute;
        width: 150px;
        border: 2px solid #aaa;
        border-radius: 4px;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: .3s;
        top: 5px;
    }

        input[type=text]:focus {
            border-color: dodgerBlue;
            box-shadow: 0 0 8px 0 dodgerBlue;
        }
</style>

<style>
    #Search {
        text-align: center;
    }

    #bloc1, #bloc2 {
        display: inline;
        vertical-align: middle;
    }

    #filter {
        display: inline-block;
    }
</style>

<div id="Search">
    <div id="bloc1">
        <label for="Id_filter">Lot Id Filter:</label>
    </div>

    <div id="bloc1"> <input type="text" id="Id_filter" name="Id_filter"></div>


</div>
<button type="button" id="search" style="position: absolute; left:1050px; top:5px; height:20px;"> Search</button>

<!-- filtri -->
<div id="filter">
    <label for="Time_filter" style="position: absolute; left: 20px; top:10px">Time Filter</label><br>
    <input type="radio" name="color" value="all"> All <br>
    <input type="radio" name="color" value="last week"> Last week <br>
    <input type="radio" name="color" value="date Seletion">Date Seletion <br>
</div>

<table class="table">
    <tr>
        <th>
            Select
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_Lot_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_PDFToCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_PDFCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rep_Type)
        </th>

    </tr>


    @{int i = 1; } <!--contatore per id-->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.CheckBox("pdf_check", false)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_Lot_Id, new { id = "RepId" + i }) <!--forzo creazione di un id-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_PDFToCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_PDFCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rep_Type)
            </td>

        </tr>
        i += 1;

    }

</table>

<label id="prova">Prova: </label> <!--label di prova per visualizzare se ottengo il rep id -->

<script>
    function OpenPdf() {

         var checkedCheckbox = $("pdf_check:checked"); // considero la checkbox spuntata
         var repLotId = $(checkedCheckbox).parent().next().next().html(); // uso la funzione travel per adare agli elementi vicino e trovare il valore di lot id

         //var  repLotId = $.trim($("#RepId2").html()) funzione di prova per ottenere il valore dall pagina
         document.getElementById('prova').innerHTML = repLotId; //riga di prova per vedere il valore di repLotId in una label, il problema è che è undefined

        //var pdf_link= variabile del rep lot id +".pdf";
        //window.open(pdf_link, '_blank') //apro il pdf in pagina vuota per prova
        //localStorage.setItem("Pdf_link", pdf_link); //salvo variabile per usarla nell'altra pagina
    }
</script>
<br>
<!-- pulsante pdf-->
<button onclick="OpenPdf()" type="button" id="submit" style="position: absolute; text-align:center ">
    report pdf
</button>
<br>

<!-- parte relativa alla visone del pdf tramite un iframe-->

<div>
    <iframe src="~/Pdf/Pdf_view.html" height="700" width="800" style="position:absolute; left :300px"></iframe>
</div>















